.favContainer {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  .headData {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .favContents {
    display: flex;
    flex-direction: column;
    gap: 2px;
    .favData {
      display: flex;
      justify-content: space-between;
      width: 100%;
      display: flex;
      padding: 30px 10px;
      background: #ffffff4d;
      align-items: center;
    }
    .favLocation {
      width: 30%;
    }
    .weatherData {
      display: flex;
      gap: 38px;
      width: 50%;
      align-items: center;
    }
    .weatherDesc {
      font-size: 18px;

      text-transform: capitalize;
    }
    .favImg {
      color: #ffd639;
      cursor: pointer;
    }
    .removeall {
      cursor: pointer;
    }
  }
  .nodata {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 104%; */
    padding-top: 12rem;
    gap: 20px;
    .nofav {
      color: #ffffff;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 30px;
      text-align: center;
    }
  }
  .pi-times:before {
    content: "";
  }
}
