{{ onRefreshData() }}
<div class="favContainer">
  <div class="headData" *ngIf="recentOrders.length > 0">
    <div class="totalFav">
      {{ recentOrders.length }} cities added as favourite
    </div>
    <div class="removeall" (click)="showDialog()">Remove All</div>
    <p-dialog
      [(visible)]="visible"
      [modal]="true"
      [draggable]="false"
      [closable]="false"
      [resizable]="false"
      [style]="{ height: '230px' }"
    >
      <p-header
        [ngStyle]="{
          'font-size': '18px',
          padding: '16px 20px 10px 10px',
          'font-weight': '500',
          'text-align': 'center'
        }"
      >
        Are you sure want to remove all the favourites?
      </p-header>

      <div class="buttonmodal">
        <button class="noBtn" (click)="closeModal(true)">NO</button>

        <button class="modalbtn" (click)="closeModal(false)">YES</button>
      </div>
    </p-dialog>
  </div>
  <div class="favContents" *ngIf="recentOrders.length > 0">
    <div class="favData" *ngFor="let data of recentOrders">
      <div class="favLocation">{{ data.name }}</div>
      <div class="weatherData">
        <img
          src="../../../../assets/images/icon_mostly_cloudy_small.png"
          alt=""
        />
        <div class="weatherDeg">
          {{ data.main.temp | number : "1.0-0" }}&deg;C
        </div>
        <div class="weatherDesc">{{ data.weather[0].description }}</div>
      </div>
      <i
        class="pi pi-heart-fill favImg"
        *ngIf="favHeart[data.id] === true"
        (click)="removeFavs(data)"
      ></i>
      <i
        class="pi pi-heart favImgNofill"
        *ngIf="favHeart[data.id] !== true"
        (click)="addFavs(data)"
      ></i>
    </div>
  </div>
  <div class="nodata" *ngIf="recentData.length === 0">
    <img src="../../../../assets/images/icon_nothing.png" class="noDataImg" />
    <div class="nofav">No Recents added</div>
  </div>
</div>
